<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Don't get rekt</title>
		<link rel="stylesheet" href="/application.css">
		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script src="/application.js"></script>
	</head>
	<body>
		{{yield}}
	</body>
</html>
